* {
	color: #414042;
	box-sizing: border-box;
}

html {
	min-height: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

body {
	font-family: arial;
	line-height: 1.5;
	margin: 0;
	padding-top: 100px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
	margin: 0 auto;
	max-width: 992px;
	padding: 0 15px;
	width: 100%;
}

.container.search {
	padding: 0;
}

.breadcrumbs {
	margin: 15px auto;
}

.content {
	margin-bottom: 55px;
}

.mobile-contacts-wrapper i {
	margin-right: 15px;
}

.search {
	height: 59px;
	.gsc-control-cse {
		background-color: transparent;
		border-color: transparent;
	}
}

#form {
	.form-title {
		padding-bottom: 5px;
		margin-top: 0;
	}
	input {
		background-color: #f2f3f4;
		border: 1px solid #d3e8ec;
		border-radius: 4px;
	    font-size: 16px;
	    margin-bottom: 15px;
	    padding: 10px;
	    width: 100%;
	    height: 34px;
	}
	textarea {
		background-color: #f2f3f4;
		border: 1px solid #d3e8ec;
		border-radius: 4px;
		font-family: arial;
		font-size: 16px;
		max-width: 100%;
		min-height: 131px;
		padding: 10px;
		width: 100%;
	}
	button {
		border: 2px solid #03a87c;
		border-radius: 4px;
		background: #ffffff;
		cursor: pointer;
		font-size: 16px;
		font-weight: bold;
		height: 35px;
		text-align: center;
		color: #03a87c;
		height: auto;
		line-height: 27px;
		margin-top: 0;
		padding: 0 40px;
		&:hover {
			background-color: #03a87c;
			color: white;
			text-shadow: 1px 1px 3px #666666;
		}
	}
}

@media(min-width: @mobile) {
	body {
		background-color: #f2f3f4;
	}
	.section {
		background-color: white;
		border: 1px solid #d3e8ec;
		margin-bottom: 30px;
		padding: 20px;
	}
	.breadcrumbs {
		padding: 0;
	}
}