.home {
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.main-header {
		display: flex;
		justify-content: space-between;
		.image {
			flex-basis: 60%;
			img {
				width: 550px;
				height: 300px;
			}
		}
		.slogan {
			flex-basis: 40%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-left: 40px;
			text-align: left;
			h2 {
				font-size: 28px;
				font-weight: normal;
				line-height: 1.3;
				margin: 0;
				padding-bottom: 40px;
				p {
					margin: 0;
				}
			}
			.button {
				background-color: #2d9ee0;
				border: 1px solid #2d9ee0;
				border-radius: 3px;
				display: inline-block;
				padding: 5px 40px;
				a {
					color: #fff;
					font-size: 18px;
				}
			}
		}
	}
	.content {
		display: flex;
		margin-bottom: 0;
		padding-bottom: 55px;
		.advantages {
			font-size: 17px;
			width: 70%;
			div {
				display: flex;
				align-items: center;
				height: 70px;
			}
			svg {
				font-size: 40px;
				margin-right: 20px;
				min-width: 50px;
			}
		}
		#form {
			margin: 0 0 30px 20px;
			width: 30%;
			.inputs {
				width: 100%;
			}
			.textarea {
				margin-bottom: 15px;
				width: 100%;
			}
			
		}
	}
	footer {
		margin-top: 0;
	}
}

@media(max-width: @mobile) {
	.home {
		.form-title {
			text-align: center;
		}
		.inputs {
			float: none;
			margin: 0 auto;
			width: 290px;
		}
		.project-form {
			button {
				float: none;
				margin: 0 auto;
			}
		}
		.image {
			display: none;
		}
		.main-header {
			.slogan {
				flex-basis: 100%;
				align-items: center;
				padding-left: 0;
				.button {
					padding: 10px 5px;
				}
			}
		}
		.content {
			flex-direction: column-reverse;
			.advantages {
				line-height: 2;
				margin-bottom: 30px;
				padding-right: 0;
				width: 100%;
			}
			#form {
				margin: 30px 0;
				padding-left: 0;
				width: 100%;
				.button {
					text-align: center;
				}
			}
		}
	}
}
