.menu-wrapper {
	background-color: #fff;
	border-bottom: 1px solid #d9d9d9;
	height: 75px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.menu-logo,
h1.menu-logo {
	cursor: pointer;
	display: block;
	float: left;
	font-size: 30px;
	font-weight: 600;
	line-height: 75px;
	width: 245px;
	text-align: right;
}

h1.menu-logo {
	margin: 0;
	cursor: default;
}

.menu-logo i {
	margin-right: 15px;
}

.main-menu {
	float: right;
	line-height: 75px;
}

.main-menu ul {
	list-style: none;
	font-wieght: 400;
	margin: 0;
}

.main-menu li {
	float: left;
}

.main-menu a {
	border-radius: 4px;
	margin: 0 0 0 17px;
	margin-left: 17px;
	padding: 10px 14px 12px;
	text-transform: uppercase;
	transition: border 0.15s ease, color 0.15s ease;
	&:hover {
		box-shadow: inset 0 0 0 2px #000;
		color: #000;
	}
}
.main-menu span {
	border-radius: 4px;
	margin: 0 0 0 17px;
	margin-left: 17px;
	padding: 10px 14px 12px;
	text-transform: uppercase;
	box-shadow: inset 0 0 0 2px #000;
}

.block-bars, .block-times {
	display: none;
}

.menu-wrapper {
	.mobile-contacts-wrapper {
		line-height: 1.6;
		margin-left: 30px;
		margin-top: 12px;
		i {
			margin-right: 0;
		}
		a {
			padding: 0;
			&:hover {
				box-shadow: none;
			}
		}
		p {
			margin: 0;
		}
	}
}

@media(max-width: @tablet) {
	.menu-logo span {
		display: none;
	}
}

@media(max-width: @mobile) {
	.main-menu {
		float: left;
		line-height: 55px;
		margin: 0;
		max-height: 0;
		overflow: hidden;
		transition: all 300ms ease;
		width: 100%;
		ul {
			padding-left: 0;
		}
		.mobile-contacts-wrapper {
			p {
				margin: 25px 0 15px 0;
			}
		}
	}
	.menu-logo,
	h1.menu-logo {
		width: auto;
		text-align: left;
	}
	.main-menu-controls {
		float: right;
		font-size: 25px;
		height: 30px;
		line-height: 40px;
		margin-right: 40px;
		margin-top: 20px;
		position: relative;
		text-align: center;
		width: auto;
	}
	.block-bars, .block-times {
		display: block;
	}
	.block-bars {
		left: 0;
		position: absolute;
		top: 0;
		transform: rotate(0deg) scale(1);
		transition: all 300ms ease;
	}
	.opened .block-bars {
		transform: rotate(-90deg) scale(0);
	}
	.block-times {
		left: 0;
		position: absolute;
		top: 0;
		transform: rotate(-90deg) scale(0);
		transition: all 300ms ease;
	}
	.opened .block-times {
		transform: rotate(-180deg) scale(1);
	}
	.menu-wrapper.opened {
		height: auto;
	}
	.main-menu.opened {
		background-color: #fff;

		margin-bottom: 20px;
		margin-top: 30px;
		max-height: 400px;
	}
	.main-menu ul {
		list-style: none;
		font-wieght: 400;
		margin: 0;
	}

	.main-menu li {
		float: left;
		width: 100%;
	}

	.main-menu a {
		border-radius: 4px;
		margin-left: 17px;
		padding: 10px 14px 12px;
		text-transform: uppercase;
		transition: border 0.15s ease, color 0.15s ease;
		&:hover {
			box-shadow: none;
		}
	}
}