.make-order-wrapper {
	margin: 30px 0 0 0;
}

.instructions {
	float: left;
	text-align: right;
	width: 50%;
}

.project-form {
	float: left;
	margin-top: 15px;
	width: 50%;
	.inputs {
		float: left;
		padding: 0 25px;
		width: 50%;
	}
	input[name=project-info] {
		display: none;
	}
	.textarea {
		float: left;
		width: 50%;
	}
	.button {
		float: left;
		padding-left: 25px;
		width: 100%;
	}
}

@media(max-width: @mobile) {
	.instructions {
		text-align: left;
		width: 100%;
	}
	.project-form {
		width: 100%;
		.inputs {
			padding: 0 25px 0 0;
		}
		.textarea {
			textarea {
				min-height: none;
			}
		}
		.button {
			margin-top: 30px;
			padding-left: 0;
		}
	}
}