
@import url(https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic);
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
@import url('https://fonts.googleapis.com/css?family=Merienda+One');
@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:100,100i,300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Sanchez');

html {
	height: 100%;
}

#page-wrapper {
	height: 100%;
}

a.feed-icon {
	display: none;
}

body {
	margin: 0;
	height: 100%;
}

#page {
	height: 100%;
	position: relative;
}

.container {
	margin: 0 auto;
	width: 1140px;
}

@media(max-width: 1200px) {
	.container {
		width: 940px;
	}
}

@media(max-width: 992px) {
	.container {
		width: 720px;
	}
}

@media(max-width: 768px) {
	.container {
		width: 90%;
	}
	h1#page-title {
		font-size: 26px
	}
	#main-wrapper {
		margin-bottom: 80px;
	}
}

h1#page-title {
	color: #414042;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

h2, h3, h4 {
	color: #414042;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

a,
a:hover {
	text-decoration: none;
}

ul {
	color: #414042;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
	list-style: none;
}

@media(min-width: 769px) {
	/*================================
			main menu
	=================================*/

	.menu-wrapper {
		background-color: #fff;
		border-bottom: 1px solid #d9d9d9;
		height: 75px;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10;
	}

	a.diplom-logo {
		color: #414042;
		cursor: pointer;
		display: block;
		float: left;
		font: 30px/60px 'Sanchez', Arial, Helvetica, sans-serif;
		font-weight: 600;
		margin-top: 7px;
		transition: color 0.15s ease;
		-webkit-transition: color 0.15s ease;
	}

	a.diplom-logo i {
		margin-right: 15px;
	}

	a.diplom-logo:hover {
		/*color: #07a8f0;*/
		color: #000;
	}

	#main-menu {
		float: right;
		line-height: 75px;
		margin: 0;
	}

	ul.inline li {
		padding: 0;
	}

	#main-menu a {
		border-radius: 4px;
	    color: #414042;
	    font: bold 14px "Open Sans", Arial, Helvetica, sans-serif;
	    line-height: 1em;
	    margin-left: 17px;
	    padding: 10px 14px 12px;
	    text-transform: uppercase;
	    transition: border 0.15s ease, color 0.15s ease;
	    -webkit-transition: border 0.15s ease, color 0.15s ease;
	}

	#main-menu a.active {
		box-shadow: inset 0 0 0 2px #253039;
	}

	#main-menu a.active:hover {
		box-shadow: inset 0 0 0 2px #000;
	}

	#main-menu a:hover,
	#main-menu a:focus {
		box-shadow: inset 0 0 0 2px #000;
		color: #000;
	}
	.block-bars, .block-times {
		display: none;
	}
}

@media(max-width: 768px) {
	/*================================
			main menu
	=================================*/

	.menu-wrapper {
		background-color: #fff;
		border-bottom: 1px solid #d9d9d9;
		min-height: 55px;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10;
	}

	a.diplom-logo {
		color: #414042;
		cursor: pointer;
		display: block;
		float: left;
		font: 20px/40px 'Sanchez', Arial, Helvetica, sans-serif;
		font-weight: 600;
		margin-top: 7px;
		transition: color 0.15s ease;
		-webkit-transition: color 0.15s ease;
	}

	a.diplom-logo i {
		margin-right: 15px;
	}

	a.diplom-logo:hover {
		/*color: #07a8f0;*/
		color: #000;
	}

	#main-menu {
		float: left;
		line-height: 55px;
		margin: 0;
		max-height: 0;
		overflow: hidden;
		transition: all 300ms ease;
		width: 100%;
	}

	ul.inline li {
		display: block;
		padding: 0;
		width: 100%;
	}

	#main-menu a {
	    color: #414042;
	    font: bold 14px "Open Sans", Arial, Helvetica, sans-serif;
	    line-height: 1em;
	    margin-left: 17px;
	    text-transform: uppercase;
	    transition: border 0.15s ease, color 0.15s ease;
	    -webkit-transition: border 0.15s ease, color 0.15s ease;
	}

	.main-menu-controls {
		float: right;
		font-size: 25px;
		height: 30px;
		line-height: 40px;
		margin-right: 30px;
		margin-top: 7px;
		position: relative;
		text-align: center;
		width: auto;
	}
	.block-bars {
		left: 0;
		position: absolute;
		top: 0;
		transform: rotate(0deg) scale(1);
		transition: all 300ms ease;
	}
	.opened .block-bars {
		transform: rotate(-90deg) scale(0);
	}
	.block-times {
		left: 0;
		position: absolute;
		top: 0;
		transform: rotate(-90deg) scale(0);
		transition: all 300ms ease;
	}
	.opened .block-times {
		transform: rotate(-180deg) scale(1);
	}
	#main-menu.opened {
		margin-bottom: 20px;
		margin-top: 30px;
		max-height: 400px;
	}
}


/*================================
		breadcrumbs
=================================*/

.breadcrumb {
	color: #414042;
	font: normal 14px "Open Sans", Arial, Helvetica, sans-serif;
	padding-top: 15px;
}

.breadcrumb a {
	color: #414042;
	font: normal 14px "Open Sans", Arial, Helvetica, sans-serif;
}

.breadcrumb a:hover {
	color: #000;
	text-decoration: underline;
}
@media(max-width: 768px) {
	#breadcrumb {
		width: 100%;
	}
}

/*================================
		main content
=================================*/

#main-wrapper {
	margin-top: 75px;
}
.node-project * {
	color: #222;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.node-project i {
	font-family: FontAwesome;
}

/*================================
		catalog page
=================================*/

.view-catalog .view-content {
	margin-left: -15px;
	margin-right: -15px;
}

.new {
	float: left;
	width: 33.3333%;
}

.view-catalog .item-list {
	background: #F4F4F4;
	box-shadow: inset 0 0 0 1px #d1d3d4;
	-moz-border-radius: 4px;
	margin: 0 15px;
	margin-bottom: 40px;
	overflow: hidden;
}


.view-catalog .item-list h3 {
    background: #fff url(../images/properbg.png) no-repeat;
    border: 1px solid #d1d2d3;
    border-bottom: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    color: #414042;
    font: bold 25px "Open Sans", Arial, Helvetica, sans-serif;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: visible;
    padding: 20px 20px 30px 20px;
    text-align: left;
    text-transform: uppercase;
}

.view-catalog .item-list ul > li {
	margin: 0;
}

.view-catalog .item-list ul > li a {
	color: #414042;
	display: block;
	font: normal 20px "Open Sans", Arial, Helvetica, sans-serif;
	margin: 10px 20px;
	transition: color 0.15s ease;
	-webkit-transition: color 0.15s ease;
	width: 87%;
}

.view-catalog .item-list ul > li a:hover {
	color: #000;
	text-decoration: underline;
}

.new {
	float: left;
}

@media(max-width:992px) {
	.new {
		width: 50%;
	}
}

@media(max-width:768px) {
	.new {
		width: 100%;
	}
	.view-catalog .item-list ul > li {
	    margin: 30px 0;
	}
}

/*================================
		footer
=================================*/

#footer {
	padding-bottom: 10px;
}

#footer.fixed-footer {
	bottom: 0;
	position: fixed;
	width: 100%;
}

.region-footer {
	margin: 0;
	text-align: center;
}

.region-footer a {
	color: #414042;
	display: inline-block;
	font: 600 20px "Sanchez", Arial, Helvetica, sans-serif;
	transition: color 0.15s ease;
	-webkit-transition: color 0.15s ease;
}

.region-footer a i {
	margin-right: 12px;
}

.region-footer a:hover {
	/*color: #07a8f0;*/
	color: #000;
}

.footer-absolute {
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}

/*================================
		contacts
=================================*/

.contacts-text {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.6;
	margin-top: 8%;
}

.mobile-contacts-wrapper {
	font: normal 18px "Open Sans", Arial, Helvetica, sans-serif;
	margin-top: 10px;
	line-height: 40px;
}

#page .mobile-contacts-wrapper a {
	color: #000;
	font: normal 18px/40px "Open Sans", Arial, Helvetica, sans-serif;
}


.mobile-contacts-wrapper i {
	display: block;
	float: left;
	font-size: 40px;
	margin-right: 10px;
}

#webform-client-form-20.webform-client-form {
    margin-top: 45px;
    position: relative;
}

#webform-client-form-20.webform-client-form > div > div:not(.webform-component-textarea) {
	box-sizing: border-box;
    float: left;
    margin-bottom: 25px;
    margin-top: 0;
    padding-right: 20px;
    width: 51%;
}

#webform-client-form-20 input {
	border: 2px solid #414042;
	box-sizing: border-box;
	display: block;
	font: normal 18px "Open Sans", Arial, Helvetica, sans-serif;
	height: 50px;
	padding-left: 40px;
	transition: border 0.15s ease-in-out;
    -webkit-transition: border 0.15s ease-in-out;
    width: 100%;
}

#webform-client-form-20 textarea {
	border: 2px solid #414042;
	font: normal 18px "Open Sans", Arial, Helvetica, sans-serif;
	min-height: 200px;
	min-width: 100%;
	padding-left: 40px;
	padding-top: 10px;
}

#webform-client-form-20 .webform-component-textarea {
	margin-top: 0;
}

#webform-client-form-20 input:hover, #webform-client-form-20 textarea:hover {
    border-color: #000;
}

#webform-client-form-20.webform-client-form > div > div.form-actions {
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

#webform-client-form-20.webform-client-form > div > div.form-actions input {
	background-color: #fff;
	border: 1px solid #414042;
	color: #414042;
	cursor: pointer;
	display: inline-block;
	font: bold 18px "Open Sans", Arial, Helvetica, sans-serif;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 0;
	width: 180px;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

#webform-client-form-20.webform-client-form .webform-component-textarea {
    position: absolute;
    right: 0;
    top: 0;
    width: 49%;
}

#webform-client-form-20.webform-client-form > div > div.form-actions input:hover {
	background-color: #414042;
	border: 1px solid #414042;
	color: #fff;
}

#webform-client-form-20.webform-client-form .webform-component--nomer {
	display: none;
}

@media(max-width: 768px) {
	#content #webform-client-form-20.webform-client-form > div * {
		padding-right: 0;
		width: 100%;
	}
	#webform-client-form-20.webform-client-form .webform-component-textarea {
		position: static;
	}
	#webform-client-form-20 input {
		padding-left: 10px;
	}
	#webform-client-form-20 textarea {
		padding-left: 10px;
	}
	#webform-client-form-20.webform-client-form > div > div.form-actions {
		margin-bottom: 70px;
	}
}

/*================================
		catalog taxonomy page
=================================*/

.views-row {
	background: rgba(244,244,244,.3);
	border: 1px solid #d1d3d4;
	color: #414042;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 50px;
	overflow: hidden;
	position: relative;
}

.project-description {
	background: #fff url(../images/properbg.png) repeat;
}

.views-field-field-discipline {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 15px 0 0 40px;
	text-align: left;
	text-transform: uppercase;
}

.views-field-field-project-type {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 5px 0 10px 40px;
	text-align: left;
	text-transform: uppercase;
}

.views-field-title {
	text-align: left;
}

.views-field-title a {
	color: #414042;
	display: inline-block;
	font: normal 22px "Open Sans", Arial, Helvetica, sans-serif;
	padding: 20px 20px 10px 40px;
	transition: color 0.15s ease;
	-webkit-transition: color 0.15s ease;
}

.views-field-title a:hover {
	color: #000;
}

.views-field-body ul, .views-field-field-course .field-content ul {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin-top: 0;
	line-height: 1.6;
	padding: 0;
}

.views-field-view-node {
	margin-bottom: 20px;
	position: absolute;
	right: 10px;
	text-align: center;
	top: 9px;
}

.views-field-view-node a {
	background: #fff;
	border: 1px solid #d1d2d3;
	box-sizing: border-box;
	color: #444;
	cursor: pointer;
	display: inline-block;
	font: bold 18px "Open Sans", Arial, Helvetica, sans-serif;
	line-height: 50px;
	padding: 0;
	width: 180px;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.views-field-view-node a:hover {
	border-color: #000;
	color: #000;
}

.views-label-field-course {
	cursor: pointer;
	display: block;
	font: normal 18px "Open Sans", Arial, Helvetica, sans-serif;
	margin: 0 auto;
	margin-bottom: 25px;
	margin-top: 10px;
	padding-right: 30px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	transition: color 0.15s ease-in-out;
	-webkit-transition: color 0.15s ease-in-out;
	width: 155px;
}
.views-label-field-course:before {
	content: '\f13a';
	display: block;
	font-family: FontAwesome;
	font-size: 25px;
	position: absolute;
	right: 0;
	transition: all 200ms ease;
	width: 20px;
}
.opened.views-label-field-course:before {
	transform: rotate(-180deg);
}

.views-field-body .field-content {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	margin-bottom: 25px;
	margin-top: 16px;
	overflow: hidden;
	padding: 0 20px 0 40px;
	transition: 200ms ease-in;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.views-field-field-course + .views-field-body .field-content {
	margin-bottom: 0;
}

.views-field-body .field-content p {
	margin: 0;
}

.views-field-field-course .field-content {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	max-height: 0;
	margin-top: 16px;
	overflow: hidden;
	padding: 0 20px 0 40px;
	transition: 200ms ease-in;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.views-field-field-course .field-content.opened {
	max-height: 1500px;
	overflow: hidden;
	transition: 200ms ease-in-out;
}

@media(max-width: 768px) {
	.views-field-field-discipline, .views-field-field-project-type {
		padding-left: 10px;
	}
	.views-field-view-node {
		position: static;
	}
	.views-field-view-node a {
		border-color: #777;
		font-size: 16px;
	}
	.views-field-title a {
		font-size: 18px;
		padding-left: 10px;
	}
	#edit-field-project-type-tid-wrapper label {
		width: 100%;
	}
	.views-row {
		margin-top: 30px;
	}
	.views-field-body .field-content {
		padding-left: 10px;
	}
	.views-field-field-course .field-content {
		padding-left: 10px;
	}
	.views-field-body {
		margin-bottom: 30px;
	}
	.views-field-field-course + .views-field-body {
		margin-bottom: 0;
	}
	.views-field-body.opened .field-content {
		margin-bottom: 30px;
	}
}

/*================================
		pager
=================================*/

.item-list .pager li {
	background: #D5D5D5;
	border: 2px solid #D5D5D5;
	border-radius: 50%;
	-moz-border-radius: 50%;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font: bold 20px/34px "Open Sans", Arial, Helvetica, sans-serif;
	height: 40px;
	margin: 0;
	padding: 0;
	transition: color 0.15s ease-in-out;
	-webkit-transition: color 0.15s ease-in-out;
	width: 40px;
}

.item-list .pager li a {
	color: #fff;
	display: block;
	height: 36px;
	transition: color 0.1s ease-in-out;
	-webkit-transition: color 0.1s ease-in-out;
	line-height: 34px;
	width: 36px;
}

.item-list .pager li a:before {

}

.item-list .pager li:hover,
.item-list .pager li:active,
.item-list .pager li:focus {
	background: #fff;
	border: 2px solid #07a8f0;
	color: #07a8f0;
}

.item-list .pager li:hover a,
.item-list .pager li:active a,
.item-list .pager li:focus a {
	color: #07a8f0;
}

.item-list .pager li.pager-current {
	background: #fff;
	border: 2px solid #07a8f0;
	color: #07a8f0;
}
.page-search .item-list .pager-first,
.page-search .item-list .pager-previous, 
.page-search .item-list .pager-next, 
.page-search .item-list .pager-last {
	display: none;
}

@media(max-width: 768px) {
	.item-list .pager li {
		margin-bottom: 12px;
	}
}

/*================================
		dropdown select
=================================*/

.views-exposed-widgets .views-widget {
	width: 350px;
}

.prettydropdown > ul {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 16px;
}

#edit-field-project-type-tid-wrapper label {
	display: block;
	float: left;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 48px;
	margin-right: 20px;
}

/*================================
		front page
=================================*/

.slideshow-container {
	background-image: url('/sites/default/files/bgu-1.jpg');
	background-size: cover;
	display: inline-block;
	height: 100%;
	position: absolute;
	top: 0;
	transition: background 200ms ease-in;
	width: 100%;
	z-index: -1;
}

.slideshow-blur {
	background-color: #fff;
	height: 100%;
	opacity: .7;
	width: 100%;
}

h1#name {
	display: none;
}

.mooving-line-wrapper {
	text-align: center;
}

.mooving-line-wrapper {
	margin-bottom: 100px;
	margin-top: 25%;
	min-height: 130px;
}

.mooving-line-wrapper span {
	color: #414042;
	font: normal 50px 'Sanchez', Arial, Helvetica, sans-serif;
}

.front-page-buttons {
	min-height: 65px;
}

.front-page-button-wrapper {
	box-sizing: border-box;
	display: block;
	float: left;
	padding-right: 10px;
	width: 20%;
}

.clear-btn-first,
.clear-btn-second {
	background: #fff;
	border: 1px solid #414042;
	box-sizing: border-box;
	color: #414042;
	cursor: pointer;
	display: block;
	font: bold 18px "Open Sans", Arial, Helvetica, sans-serif;
	line-height: 40px;
	padding: 0;
	text-align: center;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.clear-btn-first:hover,
.clear-btn-second:hover {
	background-color: #414042;
	border: 1px solid #414042;
	color: #fff;
}

#search-form {
    display: block;
    float: left;
    margin-bottom: 35px;
    width: 100%;
    margin-top: 20px;
}

.front #search-form {
	margin: 0;
	width: 58%;
}

.page-search #search-form {
	width: 100%;
}

#search-form .container-inline div {
    display: block;
    float: left;
}

#search-form label {
	display: none;
}

.search-form .form-type-textfield {
	background-color: #fff;
	border: 1px solid #414042;
	box-sizing: border-box;
	margin: 0;
	width: 80%;
}

.search-form input {
	border: none;
	font-size: 16px;
	line-height: 40px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 25px;
    width: 90%;
}

.search-form input.form-submit {
	background-color: #ef4023;
	border: 1px solid #ef4023;
	border-left: none;
	color: #fff;
	width: 20%;
}

.search-form input#edit-submit:hover {
	background-color: #414042;
	border-color: #414042;
}

.front .form-item, .form-actions {
    margin: 0;
}

.search-form input::-webkit-input-placeholder { /* Chrome */
  color: #414042;
}
.search-form input:-ms-input-placeholder { /* IE 10+ */
  color: #414042;
}
.search-form input::-moz-placeholder { /* Firefox 19+ */
  color: #414042;
  opacity: 1;
}
.search-form input:-moz-placeholder { /* Firefox 4 - 18 */
  color: #414042;
  opacity: 1;
}

@media(max-width: 992px) {
	.mooving-line-wrapper span {
		font-size: 35px;
	}
	.front-page-button-wrapper {
		margin-bottom: 20px;
		width: 50%;
	}
	.front-page-button-wrapper:nth-child(2) {
		padding-right: 0;
	}
	.front #search-form {
		width: 100%;
	}
}

@media(max-width: 768px) {
	.mooving-line-wrapper span {
		font-size: 28px;
	}
	.front-page-button-wrapper {
		padding-right: 0;
		width: 100%;
	}
	.search-form .form-type-textfield {
		width: 70%;
	}
	.search-form input {
		width: 80%;
	}
	.search-form input.form-submit {
		width: 30%;
	}
	.mooving-line-wrapper {
		margin-bottom: 40px;
	}
	#footer {
		display: none;
	}
}


/*==================================
		страница работы
===================================*/

.node-project ul {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	padding-left: 0;
	padding-right: 20px;
}

.node-project .field-label,
.node-type-free-project .field-label {
	color: #414042;
	font: bold 14px "Open Sans", Arial, Helvetica, sans-serif;
}

.node-project .field-item a,
.node-type-free-project .field-item a {
	color: #414042;
	font: normal 14px "Open Sans", Arial, Helvetica, sans-serif;
}

.node-project .field-item a:hover,
.node-type-free-project .field-item a:hover {
	color: #07a8f0;
}

.node-project .field-name-field-price .field-item {
	color: #414042;
	font: normal 14px "Open Sans", Arial, Helvetica, sans-serif;
}

.node-project .field-name-field-order {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.6;
}

.node-project .field-name-field-order {
	margin-top: 22px;
}

.node-project .mobile-contacts-wrapper {
	margin-top: 10px;
}

.node-project .field-name-field-number .field-label {
	float: left;
}

.node-project .field-name-field-number .field-item {
	color: #414042;
	font: normal 14px "Open Sans", Arial, Helvetica, sans-serif;
}

@media(max-width: 768px) {
	.field-name-field-discipline,
	.field-name-field-project-type,
	.field-name-field-price {
		margin-bottom: 20px;
	}
}

/*========================================
			информация
=========================================*/

#node-3 a {
	color: #000;
}

#node-3 p,
#node-3 ul {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
}

.contacts-text-information {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
}

#block-views-catalog-block-1 {
	float: left;
}

#block-views-catalog-block-1 .view-catalog .item-list ul > li span {
    color: #414042;
    display: block;
    font: normal 20px "Open Sans", Arial, Helvetica, sans-serif;
    margin: 10px 20px;
    transition: color 0.15s ease;
    -webkit-transition: color 0.15s ease;
    width: 87%;
}
@media(max-width: 768px) {
	.view-catalog .item-list {
		margin-left: 0;
		margin-right: 0;
	}
}

/*===================================
		ask a question
====================================*/

#ask-question-btn {
    height: 25px;
    padding: 10px 50px;
    color: #414042;
    font: normal 16px "Open Sans", Arial, Helvetica, sans-serif;
    line-height: 21px;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 1px #414042;
    -moz-box-shadow: 0 0 0 1px #414042;
    box-shadow: 0 0 0 1px #414042;
    z-index: 999;
}

#ask-question-btn:hover {
	background-color: #414042;
	color: #fff;
}

#ask-question-pop {
    font: normal 16px "Open Sans", Arial, Helvetica, sans-serif;
    min-width: 480px;
    position: fixed;
    bottom: 0;
    right: 19px;
    z-index: 9999;
}

#ask-question-pop .aqp-title {
    height: 25px;
    padding: 10px 20px 10px 50px;
    background-color: #414042;
    color: white;
}

#ask-question-pop .close-pop {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: url(../images/close-form.png) center no-repeat;
    display: block;
    float: right;
}

#ask-question-pop #webform-client-form-448 {
    height: 225px;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ebebeb;
    border-radius: 0 0 0 4px;
}

#ask-question-pop .form-item:after,
#ask-question-pop .form-actions:after {
    content: '';
    clear: both;
    display: table;
}

#ask-question-pop .form-actions {
    margin-bottom: 0;
}

#ask-question-pop label {
    margin-top: 7px;
    display: inline-block;
    float: left;
    font-weight: 400;
}

#ask-question-pop label .option {
    float: right;
    padding-right: 5px;
}

#ask-question-pop .form-required {
    display: none;
}

#ask-question-pop input {
	box-sizing: border-box;
    padding: 0 6px;
    width: 360px;
    height: 31px;
    background-color: white;
    border: 1px solid #c4c3c4;
    border-radius: 2px;
    float: right;
    font: normal 13px "Open Sans", Arial, Helvetica, sans-serif;
}

#ask-question-pop .form-textarea-wrapper {
    width: 360px;
    float: right;
}

#ask-question-pop textarea {
    padding: 9px 6px;
    height: 60px;
    width: 100% !important;
    background-color: white;
    border: 1px solid #c4c3c4;
    border-radius: 2px;
    resize: none;
    font: normal 13px "Open Sans", Arial, Helvetica, sans-serif;
}

#ask-question-pop input[type="submit"] {
    float: right;
}

#ask-question-pop input[type="submit"] {
    height: 31px;
    background-color: white;
    background-image: none;
    border: 1px solid #414042;
    display: inline-block;
    width: auto;
    color: #414042;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 7px 40px;
    text-decoration: none;
    text-shadow: none;
}

#ask-question-pop input[type="submit"]:hover {
    background-color: #414042;
    color: #fff;
}

#ask-question-pop .links a.ajax-processed {
    margin-top: 15px;
}

#ask-question-pop .links {
    text-align: center;
    padding-top: 20px;
}

#ask-question-pop .webform-confirmation {
    color: #3a383a;
    font-weight: 300;
    line-height: 21px;
    font-size: 18px;
    padding-top: 80px;
}

#ask-question-pop .webform-confirmation p {
    padding: 0 20px;
}

#ask-question-pop .webform-confirmation .text-medium {
    font-size: 24px;
}

#ask-question-pop .messages {
    display: none;
}

#ask-question-pop .has-error label {
    color: #666666;
}

#ask-question-pop .has-error input.error {
    border-color: #dc4e33;
    box-shadow: none;
}

#ask-question-pop .has-error textarea.error {
    border-color: #ef4023;
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
}

#ask-question-pop .form-item {
	margin-bottom: 15px;
	margin-top: 0;
}

#ask-question-pop .form-item.webform-component-textarea {
	margin-bottom: 32px;
}

@media(max-width: 768px) {
	#ask-question-pop {
		background-color: #f7f7f7;
		left: 15px;
		min-width: 0px;
		right: 15px;
	}
	#ask-question-pop .content {
		border: 1px solid #ebebeb;
		padding-bottom: 15px;
	}
	#ask-question-pop input {
		width: 100%;
	}
	#ask-question-pop .form-textarea-wrapper {
		width: 100%;
	}
	#ask-question-pop #webform-client-form-448 {
		border: none;
		height: 220px;
	}
	#ask-question-pop .form-item {
		margin-bottom: 0;
	}
	#ask-question-pop .form-item.webform-component-textarea {
		margin-bottom: 15px;
	}
	#ask-question-pop #webform-client-form-448 {
		padding: 10px 20px 20px 20px;
	}
	#ask-question-pop label {
		font-size: 12px;
	}
}

/*===================================
		бесплатная работа
====================================*/

.node-type-free-project .field-name-field-free-file {
	margin: 80px 0 40px 0;
}