* {
  color: #414042;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  min-height: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
body {
  font-family: arial;
  line-height: 1.5;
  margin: 0;
  padding-top: 100px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.container {
  margin: 0 auto;
  max-width: 992px;
  padding: 0 15px;
  width: 100%;
}
.container.search {
  padding: 0;
}
.breadcrumbs {
  margin: 15px auto;
}
.content {
  margin-bottom: 55px;
}
.mobile-contacts-wrapper i {
  margin-right: 15px;
}
.search {
  height: 59px;
}
.search .gsc-control-cse {
  background-color: transparent;
  border-color: transparent;
}
#form .form-title {
  padding-bottom: 5px;
  margin-top: 0;
}
#form input {
  background-color: #f2f3f4;
  border: 1px solid #d3e8ec;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  height: 34px;
}
#form textarea {
  background-color: #f2f3f4;
  border: 1px solid #d3e8ec;
  border-radius: 4px;
  font-family: arial;
  font-size: 16px;
  max-width: 100%;
  min-height: 131px;
  padding: 10px;
  width: 100%;
}
#form button {
  border: 2px solid #03a87c;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 35px;
  text-align: center;
  color: #03a87c;
  height: auto;
  line-height: 27px;
  margin-top: 0;
  padding: 0 40px;
}
#form button:hover {
  background-color: #03a87c;
  color: white;
  text-shadow: 1px 1px 3px #666666;
}
@media (min-width: 768px) {
  body {
    background-color: #f2f3f4;
  }
  .section {
    background-color: white;
    border: 1px solid #d3e8ec;
    margin-bottom: 30px;
    padding: 20px;
  }
  .breadcrumbs {
    padding: 0;
  }
}
.menu-wrapper {
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9;
  height: 75px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.menu-logo,
h1.menu-logo {
  cursor: pointer;
  display: block;
  float: left;
  font-size: 30px;
  font-weight: 600;
  line-height: 75px;
  width: 245px;
  text-align: right;
}
h1.menu-logo {
  margin: 0;
  cursor: default;
}
.menu-logo i {
  margin-right: 15px;
}
.main-menu {
  float: right;
  line-height: 75px;
}
.main-menu ul {
  list-style: none;
  font-wieght: 400;
  margin: 0;
}
.main-menu li {
  float: left;
}
.main-menu a {
  border-radius: 4px;
  margin: 0 0 0 17px;
  margin-left: 17px;
  padding: 10px 14px 12px;
  text-transform: uppercase;
  -webkit-transition: border 0.15s ease, color 0.15s ease;
  transition: border 0.15s ease, color 0.15s ease;
}
.main-menu a:hover {
  -webkit-box-shadow: inset 0 0 0 2px #000;
          box-shadow: inset 0 0 0 2px #000;
  color: #000;
}
.main-menu span {
  border-radius: 4px;
  margin: 0 0 0 17px;
  margin-left: 17px;
  padding: 10px 14px 12px;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0 0 0 2px #000;
          box-shadow: inset 0 0 0 2px #000;
}
.block-bars,
.block-times {
  display: none;
}
.menu-wrapper .mobile-contacts-wrapper {
  line-height: 1.6;
  margin-left: 30px;
  margin-top: 12px;
}
.menu-wrapper .mobile-contacts-wrapper i {
  margin-right: 0;
}
.menu-wrapper .mobile-contacts-wrapper a {
  padding: 0;
}
.menu-wrapper .mobile-contacts-wrapper a:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.menu-wrapper .mobile-contacts-wrapper p {
  margin: 0;
}
@media (max-width: 1030px) {
  .menu-logo span {
    display: none;
  }
}
@media (max-width: 768px) {
  .main-menu {
    float: left;
    line-height: 55px;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 100%;
  }
  .main-menu ul {
    padding-left: 0;
  }
  .main-menu .mobile-contacts-wrapper p {
    margin: 25px 0 15px 0;
  }
  .menu-logo,
  h1.menu-logo {
    width: auto;
    text-align: left;
  }
  .main-menu-controls {
    float: right;
    font-size: 25px;
    height: 30px;
    line-height: 40px;
    margin-right: 40px;
    margin-top: 20px;
    position: relative;
    text-align: center;
    width: auto;
  }
  .block-bars,
  .block-times {
    display: block;
  }
  .block-bars {
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: rotate(0deg) scale(1);
        -ms-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .opened .block-bars {
    -webkit-transform: rotate(-90deg) scale(0);
        -ms-transform: rotate(-90deg) scale(0);
            transform: rotate(-90deg) scale(0);
  }
  .block-times {
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: rotate(-90deg) scale(0);
        -ms-transform: rotate(-90deg) scale(0);
            transform: rotate(-90deg) scale(0);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .opened .block-times {
    -webkit-transform: rotate(-180deg) scale(1);
        -ms-transform: rotate(-180deg) scale(1);
            transform: rotate(-180deg) scale(1);
  }
  .menu-wrapper.opened {
    height: auto;
  }
  .main-menu.opened {
    background-color: #fff;
    margin-bottom: 20px;
    margin-top: 30px;
    max-height: 400px;
  }
  .main-menu ul {
    list-style: none;
    font-wieght: 400;
    margin: 0;
  }
  .main-menu li {
    float: left;
    width: 100%;
  }
  .main-menu a {
    border-radius: 4px;
    margin-left: 17px;
    padding: 10px 14px 12px;
    text-transform: uppercase;
    -webkit-transition: border 0.15s ease, color 0.15s ease;
    transition: border 0.15s ease, color 0.15s ease;
  }
  .main-menu a:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
footer {
  margin-top: 50px;
  padding: 15px 0;
  text-align: center;
}
footer a {
  display: inline-block;
}
footer a:hover {
  cursor: pointer;
}
footer i {
  margin-right: 12px;
}
.make-order-wrapper {
  margin: 30px 0 0 0;
}
.instructions {
  float: left;
  text-align: right;
  width: 50%;
}
.project-form {
  float: left;
  margin-top: 15px;
  width: 50%;
}
.project-form .inputs {
  float: left;
  padding: 0 25px;
  width: 50%;
}
.project-form input[name=project-info] {
  display: none;
}
.project-form .textarea {
  float: left;
  width: 50%;
}
.project-form .button {
  float: left;
  padding-left: 25px;
  width: 100%;
}
@media (max-width: 768px) {
  .instructions {
    text-align: left;
    width: 100%;
  }
  .project-form {
    width: 100%;
  }
  .project-form .inputs {
    padding: 0 25px 0 0;
  }
  .project-form .textarea textarea {
    min-height: none;
  }
  .project-form .button {
    margin-top: 30px;
    padding-left: 0;
  }
}
.section li {
  line-height: 2;
}
.section li a {
  margin-left: 10px;
}
.section li:nth-child(2n+1) a {
  font-weight: bold;
}
.home {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home .main-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home .main-header .image {
  -webkit-flex-basis: 60%;
      -ms-flex-preferred-size: 60%;
          flex-basis: 60%;
}
.home .main-header .image img {
  width: 550px;
  height: 300px;
}
.home .main-header .slogan {
  -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 40px;
  text-align: left;
}
.home .main-header .slogan h2 {
  font-size: 28px;
  font-weight: normal;
  line-height: 1.3;
  margin: 0;
  padding-bottom: 40px;
}
.home .main-header .slogan h2 p {
  margin: 0;
}
.home .main-header .slogan .button {
  background-color: #2d9ee0;
  border: 1px solid #2d9ee0;
  border-radius: 3px;
  display: inline-block;
  padding: 5px 40px;
}
.home .main-header .slogan .button a {
  color: #fff;
  font-size: 18px;
}
.home .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  padding-bottom: 55px;
}
.home .content .advantages {
  font-size: 17px;
  width: 70%;
}
.home .content .advantages div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}
.home .content .advantages svg {
  font-size: 40px;
  margin-right: 20px;
  min-width: 50px;
}
.home .content #form {
  margin: 0 0 30px 20px;
  width: 30%;
}
.home .content #form .inputs {
  width: 100%;
}
.home .content #form .textarea {
  margin-bottom: 15px;
  width: 100%;
}
.home footer {
  margin-top: 0;
}
@media (max-width: 768px) {
  .home .form-title {
    text-align: center;
  }
  .home .inputs {
    float: none;
    margin: 0 auto;
    width: 290px;
  }
  .home .project-form button {
    float: none;
    margin: 0 auto;
  }
  .home .image {
    display: none;
  }
  .home .main-header .slogan {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
  .home .main-header .slogan .button {
    padding: 10px 5px;
  }
  .home .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .home .content .advantages {
    line-height: 2;
    margin-bottom: 30px;
    padding-right: 0;
    width: 100%;
  }
  .home .content #form {
    margin: 30px 0;
    padding-left: 0;
    width: 100%;
  }
  .home .content #form .button {
    text-align: center;
  }
}
.katalog .new {
  float: left;
  width: 50%;
}
.katalog .new li {
  line-height: 2;
}
.katalog .new a {
  margin-left: 10px;
}
@media (max-width: 768px) {
  .katalog .new {
    width: 100%;
  }
}
.informacija .new {
  float: left;
  width: 50%;
}
.informacija .new li {
  line-height: 2;
}
.informacija .new a {
  margin-left: 10px;
}
@media (max-width: 768px) {
  .informacija .new {
    width: 100%;
  }
}
